.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--layout-width, 1150px);
    display: flex;

    // background-color: #333;
}

.context {
    flex: 1;
    background-color: #ccc;
    min-height: 1000px;
}
